{% extends 'base.html' %}

{%  block content %}
<p><strong>History:</strong></p>
<p>We are matatu sacco profiling and driver monitoring company based in Kenya. The company was founded by Ngari Kelvin Gauki in the year 2018.  The reason behind the foundation was due to increased number of accidents in Kenyans roads. </p>

<p><strong>What Our Goal:</strong></p>
<p>Our main goal/objective is to reduces number of accidents caused by reckless Matatu drivers. The reduction of accidents will inturn reduce number of deaths and our roads will suddenly be save for everyone.</p>
<p><strong>Our Services:</strong></p>

<p >
<li>Profile Matatu Saccos and generate their reports.</li>
</p>
<p>
<li>Generate each driver's report based on his way of driving, passengers rating and accidents involved in.</li>
</p>
<p>
<li> Monitoring drivers to avoid accident caused by their recklessness ( drunkness and lack to follow traffic rules).</li>
</p>
<p>
<li> Manage all Matatu Saccos information.</li>
</p>


{% endblock %}