{% extends 'base.html' %}

{% block content %}

<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4"> Driver List</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">Delete Driver</th>
                    <th class="text-center">Update Driver</th>
                </tr>
                {% for x in hold %}
                <tr>
                    <td class="pt-3-half" contenteditable="true">{{x.fname}}</td>
                    <td class="pt-3-half" contenteditable="true">{{x.lname}}</td>

                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"><a href="/sacco/delete_driver/{{x.id}}/">Delete Driver</a></button></span>
                    </td>
                    {% if x.status == "False" %}
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"><a href="/sacco/approve/{{x.id}}/">Approve Driver</a></button></span>
                    </td>
                    {% else %}
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0 disabled"><a>Approve Driver</a></button></span>
                    </td>

					{% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<!-- Editable table -->

{% endblock %}