{% extends 'base.html' %}

{%  block content %}
 <!-- Footer -->
<footer class="page-footer font-small unique-color-dark card">

          <div class="col-md-6 col-lg-7 text-center text-md-right">


          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold"> Different sacco display</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    
          {% if saccos %}
          <div id="accordion">
              {% for sacco in saccos %}
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#sacco{{sacco.id}}" aria-expanded="true" aria-controls="sacco_1">
                        {{sacco.name}} ({{ sacco.vehicles | length }} Vehicles)
                      </button>
                    </h5>
                  </div>

                  <div id="sacco{{sacco.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      {% if sacco.vehicles %}
                        {% for v in sacco.vehicles %}
                       <p>   {{ v }}</p>
                        {% endfor %}
                      {% endif %}

                    </div>
                  </div>
                </div>

            {% endfor %}

          </div>

          {% endif %}

        </div>
        
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4 ">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">routes</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
          <!--  {% for y in r %}

           {{ y.name }} 
          {% endfor %} -->
          <p>Vision:</p>
          To provide road safety with zero craches and free from death caused by reckless drivers.
          </p>
          <p>
            <p>Mission:</p>
            To facilitate the provision of safe, reliable, efficient raod transport services.
          </p>

        </div>
        <!-- Grid column -->

      
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">daily impotant updates</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p> click on <b  class="btn btn-secondary border"><a href=" /sacco/sacco" >HERE</a></b> to register the Matatu sacco.<strong>NOTE</strong>  You must be registered to the system and your request approved so as to be able to perform this function.<b  class="btn btn-secondary border"><a href=" /sacco/register" >SIGN IN</a></b><p> Steps to follow:</p>  i). Fill the sacco details to the form the pops up after clicking.<br> ii). Enter the route details the sacco is operating. iii). Enter the sacco,s vehicle detail. <br> iv). Enter driver details assigned to that vehicle.
           </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

  </footer>
  <!-- Footer -->


{% endblock %}