{% extends 'base.html' %}

{%  block content %}
<br><br><div class="card">

      <h5 class="card-header info-color white-text text-center py-4">
          <strong>WELCOM ADMIN </strong>
      </h5>

    <div class="card-body px-lg-5">

  <div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
      <div class="card-body border">
       SACCO
        <hr />

        <div class="card-text row">
          <div class="col-sm-6">
            <div class="card-body border">
             <b  class="btn btn-secondary border"><a href=" /sacco/driver_list" >VIEW DRIVERS</a></b>
            </div> 
          </div>
          <div class="col-sm-6">
            <div class="card-body border">
             
            <b  class="btn btn-secondary border"><a href=" /sacco/sacco_list" >VIEW SACCOS</a></b>
            </div>
          </div>
        </div>

        <hr>
        <div class="card-text row">
          <div class="col-sm-6">
            <div class="card-body border">
              {% if user.is_superuser %}
             <b  class="btn btn-secondary border"><a href=" http://localhost:8000/admin/" >GRANT_PERMISSIONS</a></b>
                {% endif %}
            </div> 
          </div>
          <div class="col-sm-6">
            <div class="card-body border">
             
            <b  class="btn btn-secondary border"><a href="/sacco/vehicle_list/" >GENERATE QRCODE</a></b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}