{% extends 'base.html' %}

{% block content %}
<center><br><br>
	<div class="card">

      <h5 class="card-header info-color white-text text-center py-4">
          <strong>ROUTE REGISTRATION</strong>
      </h5>

     <div class="card-body px-lg-5">
	<form action="{% url 'route' %}" class="row" method="post">
		{% csrf_token %}
		<div class=" form-group col-sm-5">
		  <label class="col-form-label" for="inputDefault"> Route Name </label>
		  <input type="text" class="form-control" name="name" placeholder="route_name" id="inputDefault">
		</div>

		<div class="form-group col-sm-5 offset-sm-1">
		  <label class="col-form-label" for="inputDefault"> County </label>
		  <input type="text" class="form-control" name="county" placeholder="County" id="inputDefault">
		</div>

		<div class="form-group col-sm-5">
		  <label class="col-form-label" for="inputDefault"> Route Number </label>
		  <input type="text" class="form-control" name="route_number " placeholder=" route number" id="inputDefault">
		</div>

		<div class="form-group col-sm-5 offset-sm-1">
			<label class="col-form-label" for="inputDefault"> SACCO </label>
	    	<select name="sacco" class="custom-select">
	      		<option selected="">--SELECT SACCO--</option>
	      		{% for sacco in saccos %}
	      			<option value="{{ sacco.id }}">{{ sacco.name }}</option>
	      		{% endfor %}
	    	</select>
	  	</div>
		
		<button type="Submit" name="submit" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect">Submit</button>
		<!-- {{ form }}
		<input type="submit" name="submit"> -->
	</form>
</div>
</div>
</center>

{% endblock %}