{% block stars %}

{% if value < 1 %} <span class="fa fa-star"></span> {% else %} <span class="fa fa-star checked"></span> {% endif %}
{% if value < 2 %} <span class="fa fa-star"></span> {% else %} <span class="fa fa-star checked"></span> {% endif %}
{% if value < 3 %} <span class="fa fa-star"></span> {% else %} <span class="fa fa-star checked"></span> {% endif %}
{% if value < 4 %} <span class="fa fa-star"></span> {% else %} <span class="fa fa-star checked"></span> {% endif %}
{% if value < 5 %} <span class="fa fa-star"></span> {% else %} <span class="fa fa-star checked"></span> {% endif %}
{% endblock %}